<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand mt-1 text-center" href="/home">
        <img src="/img/icon.jpg" alt="" height="80" width="80" class="mx-3 img-thumbnail">
        <span class="fw-bolder fs-2 mx-5"> Employee Database System</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mt-1 fs-5 ms-auto me-5" href="/home/new">
        Add New Employee</a>

      <a class="navbar-brand mt-1 fs-5" href="/home/search">
        Search</a>

      <a class="navbar-brand mt-1 fs-5 mx-3" href="/logout">
        Logout</a>

    </div>
    </div>


  </nav>