<% if(success_msg && success_msg !='' ) { %>
    <div class="alert alert-success alert-dismissible fade show text-center w-50 m-auto my-3" role="alert">
        <strong>
            <%= success_msg %>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <% if(failure_msg && failure_msg !='' ) { %>
            <div class="alert alert-danger alert-dismissible fade show text-center w-50 m-auto my-3" role="alert">
                <strong>
                    <%= failure_msg %>
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>

                <%if(error && error !='' ) { %>
                    <div class="alert alert-danger alert-dismissible fade show text-center w-50 m-auto my-3"
                        role="alert">
                        <strong>
                            <%= error %>
                        </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>